body{
background: linear-gradient(to bottom,white,#cce6ff) fixed;
font-family:helvetica;
height:100%;
background-repeat:no-repeat;
}

header{
background-color:#3b5998;
color:white;
height:83px;
position:absolute;
top:0px;
left:0px;
width:100%;
}

header h1{
float:left;
font-size:50px;
line-height:17px;
position:relative;
left:10%;
}

.email{
float:right;
position:absolute;
right:30%;
top:18%;
}

.password{
float:right;
position:absolute;
right:15%;
top:18%;
}

.login{
float:right;
position:absolute;
right:10%;
top:40%;
background-color:#4c6ac8;
color:white;
}

#forgot{
color:#7f9dfc;
}

aside{
width:40%;
font-size:150%;
color:#3b5998;
float:left;
position:relative;
top:150px;
left:0px;
}

article{
float:right;
position:absolute;
right:10%;
top:100px;
height:100%;
}

#heading{
font-size:300%;
}

p{
font-size:150%;
}

.smallip{
height:30px;
border-radius:8px;
position:relative;
margin:5px;
}

.bigip{
height:30px;
border-radius:8px;
width:350px;
margin:5px;
}

.radio{
font-size:150%;
color:black;
}

select{
height:25px;
width:100px;
border-radius:6px;
}

.signup{
background-color:green;
color:white;
height:50px;
width:200px;
border-radius:10px;
margin:5px;
}

footer{
background-color:white;
border-top:5px;
height:150px;
border:0px;
padding:0px;
width:100%;
clear-both;
position:absolute;
bottom:-100px;
left:0px;
}